POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_SCHEMA=public

MINIO_ROOT_USER=your_minio_root_user
MINIO_ROOT_PASSWORD=your_minio_root_password
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
BRONZE_BUCKET=jobs-bronze
SILVER_BUCKET=jobs-silver

AIRFLOW_ADMIN_USER=your_airflow_admin_user
AIRFLOW_ADMIN_PASSWORD=your_airflow_admin_password
AIRFLOW_ADMIN_EMAIL=your_airflow_admin_email
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User

SPARK_MASTER_URL=spark://spark-master:7077

TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id